# Sklearn Pipeline
<img src="pipeline-diagram.png">
O pipeline tem como objetivo automatizar uma sequência de comandos.  
Exemplo: usando pipeline para fazer a seleção dos parâmetros de pré processamento e dos hyperparâmetros do modelo?

Vantagens do CV pipeline: one-hot encoder transform dentro do pipeline com a nova versão do sklearn (0.20.2 ou + recente).  
  

Usando dados do Titanic, descritos em: https://www.openml.org/d/40945

## Análise exploratória dos dados

In [12]:
# !pip install pandas
# !pip install scikit-learn
# !pip install matplotlib
# !pip install sklearn

In [89]:
import pandas as pd
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

IOStream.flush timed out
IOStream.flush timed out
IOStream.flush timed out
IOStream.flush timed out

In [14]:
# df = pd.read_csv('http://bit.ly/kaggletrain')
df = pd.read_csv(
    "https://www.openml.org/data/get_csv/16826755/phpMYEkMl", na_values="?"
)

In [15]:
df.shape

(1309, 14)

In [16]:
df.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [17]:
df.cabin

0            B5
1       C22 C26
2       C22 C26
3       C22 C26
4       C22 C26
         ...
1304        NaN
1305        NaN
1306        NaN
1307        NaN
1308        NaN
Name: cabin, Length: 1309, dtype: object

In [18]:
df.isna().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [19]:
df = df.loc[df.embarked.notna(), ["pclass", "survived", "sex", "embarked"]]

In [20]:
df.isna().sum()

pclass      0
survived    0
sex         0
embarked    0
dtype: int64

In [21]:
df.shape

(1307, 4)

In [22]:
df.head()

   pclass  survived     sex embarked
0       1         1  female        S
1       1         1    male        S
2       1         0  female        S
3       1         0    male        S
4       1         0  female        S

In [23]:
df.sample(10)

      pclass  survived     sex embarked
83         1         1  female        S
1176       3         0    male        S
1298       3         0    male        S
1300       3         1  female        C
703        3         0    male        Q
668        3         0    male        S
1199       3         0    male        S
767        3         0    male        S
1189       3         1  female        S
592        2         0    male        S

In [24]:
df.survived.value_counts()

survived
0    809
1    498
Name: count, dtype: int64

In [25]:
df.survived.value_counts(normalize=True)

survived
0    0.618975
1    0.381025
Name: proportion, dtype: float64

dica:  
Qual a accurácia mínima aceitável?  
Em casos de classificação binária como este, seria 61,89% (predição da classe predominante: '0' = Não sobreviveu!)

## Cross-validation - validação cruzada
<img src='cross-validation.png'>  
Consiste em dividir os dados em partes, exemplo k-fold = 5, dividir em 5 partes e treinar o modelo 5 vexes.  
Cada treinamento uma parte dos dados é separada para servir de teste (avaliação do modelo).

### sem cross-validation

In [26]:
X = df.loc[:, ["pclass"]]
y = df.survived

In [27]:
X

      pclass
0          1
1          1
2          1
3          1
4          1
...      ...
1304       3
1305       3
1306       3
1307       3
1308       3

[1307 rows x 1 columns]

In [28]:
from sklearn.linear_model import LogisticRegression

In [29]:
reg_log = LogisticRegression(solver="lbfgs")

In [30]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=40
)

In [31]:
reg_log.fit(X_train, y_train)

LogisticRegression()

In [32]:
reg_log.score(X_test, y_test)

0.7633587786259542

### com cross-validation

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

In [34]:
# df = df.sample(len(df))

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [35]:
X = df.loc[:, ["pclass"]]
y = df.survived

In [36]:
# Havendo muitos dados, separe um conjunto de teste que você só poderá utilizar uma única vez ao final do se
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=45, stratify=X.pclass
)

In [37]:
reg_log = LogisticRegression(solver="lbfgs")

In [38]:
cv_result = cross_val_score(reg_log, X_train, y_train, cv=3, scoring="accuracy")

cv_result.mean()

0.6583863035053629

In [39]:
X_test

      pclass
1265       3
964        3
374        2
55         1
254        1
...      ...
443        2
799        3
567        2
1166       3
233        1

[262 rows x 1 columns]

In [40]:
X_test.pclass.value_counts() / len(X_test.pclass)

pclass
3    0.541985
1    0.244275
2    0.213740
Name: count, dtype: float64

In [41]:
X_train.pclass.value_counts() / len(X_train.pclass)

pclass
3    0.542584
1    0.245933
2    0.211483
Name: count, dtype: float64

In [42]:
cv_result

array([0.64469914, 0.66954023, 0.66091954])

In [43]:
reg_log.fit(X_train, y_train)

LogisticRegression()

In [44]:
reg_log.score(X_test, y_test)

0.7480916030534351

In [45]:
cv_result.std()

0.010298313710304641

In [46]:
cv_result = cross_val_score(
    reg_log,
    X,
    y,
    cv=10,
    scoring="accuracy",
)

cv_result.mean()

0.6762301820317088

In [47]:
cv_result

array([0.38167939, 0.67938931, 1.        , 0.98473282, 0.61832061,
       0.61832061, 0.61832061, 0.61538462, 0.62307692, 0.62307692])

In [48]:
cv_result.std()

0.17498119933511946

In [49]:
from sklearn.model_selection import KFold

In [50]:
# Forma de visualizar quais dados entram em quais dobras do CV em treino ou teste
cv10 = KFold(10, shuffle=True, random_state=42)

In [51]:
[k for k in cv10.split(X, y)]

[(array([   0,    1,    2, ..., 1303, 1304, 1305]),
  array([  23,   32,   43,   44,   49,   51,   58,   63,   65,   76,   78,
           81,  101,  115,  184,  192,  198,  208,  210,  231,  240,  243,
          244,  247,  254,  261,  270,  275,  282,  291,  308,  309,  316,
          322,  331,  351,  358,  371,  382,  390,  394,  409,  410,  427,
          429,  432,  438,  447,  481,  482,  503,  506,  536,  538,  549,
          552,  573,  583,  584,  602,  614,  630,  651,  676,  705,  707,
          711,  722,  731,  741,  743,  744,  745,  752,  764,  774,  787,
          792,  793,  802,  818,  841,  845,  846,  861,  862,  868,  875,
          903,  908,  910,  914,  932,  936,  945,  947,  968,  973,  986,
         1009, 1015, 1024, 1037, 1040, 1043, 1047, 1057, 1091, 1100, 1106,
         1110, 1114, 1116, 1140, 1156, 1157, 1164, 1170, 1174, 1176, 1192,
         1225, 1243, 1246, 1265, 1281, 1283, 1291, 1295, 1299, 1306])),
 (array([   0,    1,    2, ..., 1304, 1305, 1306]),
  array([  29,   31,   48,   54,   56,   70,   86,  107,  109,  113,  123,
          128,  140,  155,  163,  168,  170,  174,  196,  199,  209,  218,
          220,  221,  233,  239,  259,  265,  286,  297,  303,  312,  342,
          344,  346,  361,  363,  367,  377,  380,  381,  405,  413,  430,
          439,  478,  479,  490,  493,  526,  527,  528,  535,  551,  560,
          561,  567,  572,  581,  588,  591,  596,  615,  617,  618,  621,
          629,  643,  649,  670,  677,  680,  706,  708,  714,  716,  720,
          724,  727,  730,  737,  739,  746,  759,  796,  813,  855,  857,
          858,  859,  872,  887,  888,  909,  924,  938,  943,  944,  966,
          967,  977,  987,  993,  994,  998, 1031, 1032, 1048, 1055, 1061,
         1068, 1069, 1070, 1078, 1084, 1092, 1103, 1115, 1153, 1161, 1171,
         1188, 1196, 1204, 1211, 1240, 1249, 1252, 1293, 1296, 1302])),
 (array([   0,    1,    2, ..., 1304, 1305, 1306]),
  array([  10,   59,   83,   88,   96,  129,  135,  138,  139,  141,  147,
          156,  158,  171,  178,  224,  260,  266,  274,  277,  285,  287,
          289,  290,  292,  294,  296,  298,  306,  318,  323,  325,  327,
          328,  332,  333,  339,  348,  350,  352,  355,  365,  374,  398,
          411,  415,  420,  422,  428,  435,  458,  461,  462,  467,  471,
          477,  485,  497,  513,  514,  522,  532,  533,  543,  553,  558,
          590,  597,  599,  605,  613,  631,  634,  638,  665,  668,  678,
          679,  693,  713,  723,  762,  771,  809,  814,  820,  823,  826,
          828,  843,  849,  864,  865,  879,  885,  889,  911,  912,  915,
          949,  950,  964,  984,  996,  997, 1007, 1052, 1054, 1063, 1066,
         1075, 1079, 1101, 1121, 1125, 1133, 1138, 1163, 1165, 1178, 1201,
         1209, 1233, 1237, 1257, 1262, 1266, 1275, 1278, 1280, 1292])),
 (array([   0,    1,    4, ..., 1304, 1305, 1306]),
  array([   2,    3,    5,    6,   12,   25,   27,   30,   39,   47,   55,
           66,   67,  100,  106,  111,  120,  136,  211,  213,  215,  227,
          237,  242,  256,  273,  299,  310,  311,  314,  319,  321,  336,
          354,  362,  370,  376,  423,  424,  425,  433,  442,  451,  453,
          464,  486,  494,  529,  534,  542,  548,  554,  566,  578,  579,
          582,  589,  594,  610,  620,  622,  624,  636,  650,  667,  672,
          682,  700,  704,  712,  718,  721,  736,  755,  770,  783,  788,
          806,  808,  811,  825,  842,  848,  850,  874,  881,  886,  904,
          937,  941,  948,  952,  962,  969,  974,  979,  999, 1001, 1006,
         1022, 1023, 1033, 1058, 1087, 1088, 1090, 1108, 1119, 1122, 1127,
         1137, 1144, 1167, 1173, 1181, 1185, 1189, 1190, 1197, 1212, 1218,
         1220, 1221, 1232, 1239, 1255, 1259, 1268, 1269, 1297, 1303])),
 (array([   0,    1,    2, ..., 1304, 1305, 1306]),
  array([   7,    9,   33,   45,   60,   62,   71,   72,   77,   80,   82,
           84,   92,   94,   97,  104,  110,  118,  137,  144,  145,  165,
          177,  182,  183,  194,  204,  223,  235,  238,  248,  249,  250,
          255,  280,  281,  302,  305,  307,  329,  334,  357,  359,  373,
          388,  389,  404,  436,  445,  448,  449,  457,  460,  465,  480,
          501,  519,  523,  539,  541,  545,  557,  570,  575,  585,  593,
          598,  609,  626,  628,  644,  654,  660,  661,  666,  673,  695,
          715,  754,  765,  780,  781,  807,  816,  839,  844,  847,  898,
          900,  905,  906,  916,  925,  933,  942,  953,  965,  982, 1000,
         1003, 1005, 1034, 1049, 1065, 1072, 1080, 1081, 1096, 1102, 1117,
         1131, 1139, 1142, 1155, 1159, 1172, 1182, 1193, 1199, 1203, 1206,
         1213, 1219, 1247, 1253, 1258, 1260, 1271, 1272, 1290, 1300])),
 (array([   1,    2,    3, ..., 1304, 1305, 1306]),
  array([   0,   18,   24,   28,   41,   69,   73,   79,   90,  108,  125,
          131,  132,  133,  148,  162,  164,  169,  172,  173,  176,  181,
          185,  193,  212,  214,  226,  228,  232,  234,  251,  258,  264,
          300,  326,  338,  347,  360,  364,  366,  372,  383,  386,  395,
          408,  414,  421,  440,  444,  450,  454,  468,  475,  483,  491,
          495,  499,  504,  507,  516,  518,  525,  530,  531,  568,  587,
          652,  657,  671,  692,  701,  710,  717,  732,  734,  756,  767,
          772,  777,  778,  785,  798,  803,  832,  838,  867,  869,  873,
          890,  892,  893,  894,  899,  901,  917,  921,  922,  923,  926,
          930,  939,  970,  978,  988,  989,  990,  991, 1002, 1013, 1018,
         1030, 1036, 1062, 1074, 1094, 1105, 1107, 1120, 1134, 1135, 1145,
         1149, 1214, 1216, 1235, 1242, 1256, 1263, 1264, 1277, 1285])),
 (array([   0,    1,    2, ..., 1303, 1304, 1306]),
  array([  11,   15,   22,   36,   42,   61,   68,   74,   75,   85,   89,
           93,   99,  114,  117,  153,  159,  167,  179,  188,  191,  203,
          217,  222,  236,  257,  267,  271,  272,  278,  284,  324,  335,
          340,  356,  368,  375,  393,  396,  412,  416,  417,  419,  426,
          431,  434,  446,  456,  487,  498,  500,  515,  521,  544,  547,
          555,  559,  576,  580,  595,  601,  604,  607,  611,  616,  662,
          674,  675,  688,  689,  690,  694,  696,  703,  728,  733,  735,
          738,  753,  757,  760,  761,  768,  789,  812,  834,  836,  851,
          852,  884,  895,  918,  919,  931,  940,  946,  963,  976,  983,
         1004, 1010, 1027, 1035, 1039, 1041, 1042, 1053, 1067, 1077, 1085,
         1099, 1112, 1141, 1147, 1148, 1150, 1202, 1210, 1217, 1222, 1223,
         1224, 1227, 1228, 1250, 1261, 1279, 1286, 1298, 1301, 1305])),
 (array([   0,    1,    2, ..., 1304, 1305, 1306]),
  array([   4,   17,   19,   35,   38,   46,   50,   52,   57,  102,  105,
          116,  119,  124,  126,  127,  142,  149,  154,  175,  180,  190,
          195,  245,  263,  268,  301,  304,  313,  320,  341,  349,  353,
          369,  399,  407,  443,  470,  473,  476,  489,  496,  505,  511,
          512,  517,  537,  569,  571,  574,  603,  606,  619,  625,  633,
          635,  637,  653,  655,  656,  664,  669,  684,  685,  691,  697,
          726,  740,  750,  758,  773,  782,  784,  786,  790,  799,  801,
          810,  817,  819,  822,  824,  827,  829,  830,  833,  837,  853,
          866,  876,  882,  902,  907,  920,  927,  934,  935,  958,  961,
          971,  980,  985,  992, 1008, 1011, 1026, 1029, 1046, 1050, 1083,
         1089, 1113, 1128, 1146, 1160, 1166, 1168, 1169, 1175, 1183, 1191,
         1207, 1244, 1245, 1251, 1254, 1276, 1282, 1288, 1289])),
 (array([   0,    2,    3, ..., 1303, 1305, 1306]),
  array([   1,    8,   16,   26,   37,   53,   95,  103,  112,  122,  143,
          146,  150,  151,  152,  157,  160,  186,  197,  202,  207,  219,
          225,  229,  246,  253,  262,  279,  283,  293,  317,  345,  384,
          400,  402,  403,  437,  441,  452,  463,  469,  472,  484,  488,
          509,  524,  540,  546,  550,  556,  577,  586,  608,  623,  627,
          632,  639,  640,  641,  645,  648,  658,  659,  663,  681,  687,
          698,  709,  748,  749,  751,  795,  797,  800,  821,  835,  854,
          877,  880,  883,  896,  913,  928,  951,  954,  956,  959,  972,
          981, 1012, 1014, 1019, 1020, 1045, 1059, 1060, 1073, 1093, 1097,
         1098, 1109, 1111, 1118, 1124, 1132, 1136, 1143, 1151, 1158, 1177,
         1179, 1186, 1187, 1194, 1195, 1200, 1205, 1208, 1226, 1229, 1230,
         1231, 1234, 1236, 1241, 1248, 1270, 1274, 1284, 1304])),
 (array([   0,    1,    2, ..., 1304, 1305, 1306]),
  array([  13,   14,   20,   21,   34,   40,   64,   87,   91,   98,  121,
          130,  134,  161,  166,  187,  189,  200,  201,  205,  206,  216,
          230,  241,  252,  269,  276,  288,  295,  315,  330,  337,  343,
          378,  379,  385,  387,  391,  392,  397,  401,  406,  418,  455,
          459,  466,  474,  492,  502,  508,  510,  520,  562,  563,  564,
          565,  592,  600,  612,  642,  646,  647,  683,  686,  699,  702,
          719,  725,  729,  742,  747,  763,  766,  769,  775,  776,  779,
          791,  794,  804,  805,  815,  831,  840,  856,  860,  863,  870,
          871,  878,  891,  897,  929,  955,  957,  960,  975,  995, 1016,
         1017, 1021, 1025, 1028, 1038, 1044, 1051, 1056, 1064, 1071, 1076,
         1082, 1086, 1095, 1104, 1123, 1126, 1129, 1130, 1152, 1154, 1162,
         1180, 1184, 1198, 1215, 1238, 1267, 1273, 1287, 1294]))]

In [52]:
# Façamos um shuffle manual
df_shuffle = df.sample(frac=1).reset_index()
df_shuffle

      index  pclass  survived     sex embarked
0       817       3         0    male        S
1       116       1         1  female        S
2      1299       3         0    male        C
3       334       2         0    male        S
4       554       2         0    male        S
...     ...     ...       ...     ...      ...
1302    947       3         1  female        S
1303    993       3         1  female        Q
1304   1248       3         0    male        S
1305    799       3         0    male        S
1306    694       3         0    male        Q

[1307 rows x 5 columns]

In [53]:
X = df_shuffle.loc[:, ["pclass"]]
y = df_shuffle.survived

In [54]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=45
)

In [55]:
reg_log = LogisticRegression(solver="lbfgs")

In [56]:
cv_result = cross_val_score(reg_log, X_train, y_train, cv=10, scoring="accuracy")

cv_result

array([0.64761905, 0.67619048, 0.68571429, 0.65714286, 0.67619048,
       0.67307692, 0.70192308, 0.68269231, 0.66346154, 0.69230769])

In [57]:
print(f"média = {cv_result.mean()}")
print(f"dp = {cv_result.std()}")

média = 0.6756318681318682
dp = 0.01550047133999041

In [58]:
cv_result = cross_val_score(reg_log, X_train, y_train, cv=5, scoring="accuracy")

cv_result

array([0.66028708, 0.67464115, 0.66985646, 0.6937799 , 0.67942584])

In [59]:
print(f"média = {cv_result.mean()}")
print(f"dp = {cv_result.std()}")

média = 0.675598086124402
dp = 0.011077355887837516

In [60]:
cv_result = cross_val_score(reg_log, X_train, y_train, cv=2, scoring="accuracy")

cv_result

array([0.66730402, 0.68390805])

In [61]:
print(f"média = {cv_result.mean()}")
print(f"dp = {cv_result.std()}")

média = 0.6756060306366893
dp = 0.00830201534032221

## Encoding variáveis (features) categoricas :
Se as variáveis não possuem uma ordem específica, geralmente a melhor opção é one hot-encoding (dummy encoding)

In [62]:
from sklearn.preprocessing import OneHotEncoder

hot_enc = OneHotEncoder(sparse=False)

In [63]:
df.head()

   pclass  survived     sex embarked
0       1         1  female        S
1       1         1    male        S
2       1         0  female        S
3       1         0    male        S
4       1         0  female        S

In [64]:
df.tail()

      pclass  survived     sex embarked
1304       3         0  female        C
1305       3         0  female        C
1306       3         0    male        C
1307       3         0    male        C
1308       3         0    male        S

### Codificando só a variável 'embarked' para ver como fica

In [65]:
["embarked_C", "embarked_Q", "embarked_S"]

['embarked_C', 'embarked_Q', 'embarked_S']

In [66]:
df[["embarked_C", "embarked_Q", "embarked_S"]] = hot_enc.fit_transform(df[["embarked"]])

/home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [67]:
df.sample(5)

      pclass  survived     sex embarked  embarked_C  embarked_Q  embarked_S
1283       3         0    male        S         0.0         0.0         1.0
738        3         1  female        S         0.0         0.0         1.0
515        2         1    male        S         0.0         0.0         1.0
1306       3         0    male        C         1.0         0.0         0.0
1032       3         0    male        Q         0.0         1.0         0.0

In [68]:
hot_enc.categories_

[array(['C', 'Q', 'S'], dtype=object)]

### Codificando todas as variáveis: 'sex' e 'embarked'

In [69]:
X = df[["pclass", "sex", "embarked"]]

In [70]:
X.head()

   pclass     sex embarked
0       1  female        S
1       1    male        S
2       1  female        S
3       1    male        S
4       1  female        S

In [71]:
X.sample(10)

      pclass     sex embarked
373        2  female        S
1181       3    male        S
824        3    male        S
1058       3  female        S
1059       3    male        S
514        2    male        S
340        2  female        S
888        3    male        S
279        1    male        S
533        2  female        S

In [72]:
from sklearn.compose import make_column_transformer

In [73]:
col_transf = make_column_transformer(
    (OneHotEncoder(), ["sex", "embarked"]),
    remainder="passthrough",
)

In [74]:
col_transf.fit_transform(X)

array([[1., 0., 0., 0., 1., 1.],
       [0., 1., 0., 0., 1., 1.],
       [1., 0., 0., 0., 1., 1.],
       ...,
       [0., 1., 1., 0., 0., 3.],
       [0., 1., 1., 0., 0., 3.],
       [0., 1., 0., 0., 1., 3.]])

In [75]:
col_transf.get_feature_names_out()

array(['onehotencoder__sex_female', 'onehotencoder__sex_male',
       'onehotencoder__embarked_C', 'onehotencoder__embarked_Q',
       'onehotencoder__embarked_S', 'remainder__pclass'], dtype=object)

In [76]:
df_transform = pd.DataFrame(
    col_transf.fit_transform(X), columns=col_transf.get_feature_names_out()
)

In [77]:
df_transform

,onehotencoder__sex_female,onehotencoder__sex_male,onehotencoder__embarked_C,onehotencoder__embarked_Q,onehotencoder__embarked_S,remainder__pclass
0,1.0,0.0,0.0,0.0,1.0,1.0
1,0.0,1.0,0.0,0.0,1.0,1.0
2,1.0,0.0,0.0,0.0,1.0,1.0
3,0.0,1.0,0.0,0.0,1.0,1.0
4,1.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...
1302,1.0,0.0,1.0,0.0,0.0,3.0
1303,1.0,0.0,1.0,0.0,0.0,3.0
1304,0.0,1.0,1.0,0.0,0.0,3.0
1305,0.0,1.0,1.0,0.0,0.0,3.0
1306,0.0,1.0,0.0,0.0,1.0,3.0

## Pipeline com codificação categóricas e cross-validation

In [78]:
from sklearn.pipeline import make_pipeline

In [79]:
X = df[["pclass", "sex", "embarked"]]
y = df["survived"]

In [80]:
col_transf = make_column_transformer(
    (OneHotEncoder(), ["sex", "embarked"]), remainder="passthrough"
)

In [81]:
reg_log = LogisticRegression(solver="lbfgs")

In [82]:
pipe = make_pipeline(col_transf, reg_log)

In [83]:
pipe

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(),
                                                  ['sex', 'embarked'])])),
                ('logisticregression', LogisticRegression())])

In [84]:
cross_val_score(pipe, X, y, cv=10, scoring="accuracy").mean()

0.7450733998825602

In [85]:
novo_X = X.sample(5, random_state=123)
novo_X

     pclass     sex embarked
358       2  female        S
653       3  female        C
870       3  female        S
84        1    male        C
816       3    male        C

In [86]:
pipe.fit(X, y)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(),
                                                  ['sex', 'embarked'])])),
                ('logisticregression', LogisticRegression())])

In [87]:
pipe.predict(novo_X)

array([1, 1, 1, 1, 0])

In [88]:
y.sample(5, random_state=123)

358    1
653    1
870    1
84     0
816    0
Name: survived, dtype: int64

### pipeline tem algumas vantagens:

1- Seu arquivo de treinamento permanece o mesmo e não vai crescer por causa do one-hot encoding.  
2- Na predição de novos dados, não é necessário fazer pandas dummies no novo arquivo. Também evita eventuais problemas caso os novos dados não tenham todas as categorias que existem nos dados de treinamento. As dimensões do novo dataset será diferente e vai dar erro.  
3- É possível fazer grid search para os parâmetros de pré-processamento e os parâmetros do modelo.