---
# Projeto - Previsão de preço de casas no DF
---

#### **Machine Learning em Projetos (_Pablo Alves, Filipe Basílico e Carlos Roberto_)**

---
### **Descrição do projeto de machine learning**

Antes de escrever qualquer código, precisamos entender o problema que queremos resolver e fazer uma descrição eficiente do projeto, visando a comunicação simples e rápida do objetivo do projeto para técnicos, gestores e colaboradores.

**1- Nome do projeto (apelido)**

- Previsão de preço de casas no DF

**2- Descrição do problema ou tarefa:**

- Ao se deparar com uma casa em um anúncio, confirmar se o seu preço é justo

**3- Descrição da solução de IA:**

- Treinamento supervisionado de modelo para realizar a previsão do valor de uma casa situada no Distrito Federal.

**4- Fonte de dados:**

- Webscraping de sites tipo olx, dfimoveis e similares.
- link: https://www.kaggle.com/datasets/devvret/brazil-real-estate-listings

**5- Variáveis independentes (preditoras ou "features"):**

- Localização, metragem, quantidade de quartos, vagas de garagem e banheiros.

**6- Variável dependente (resposta ou "target"):**

- Preço do anúncio
---

Data: 10/05/2023

Autor

- Pablo Alves - TST - pablo.alves@tst.jus.br

Participante:

- Fillipe Ballico de Moraes - ORGAO - EMAIL
- Carlos Roberto - SSPAL - carlos.silva@pm.al.gov.br // tenroberto2011@gmail.com

---

### Carregar bibliotecas de código

In [9]:
# # Instalando às Libs
# !pip install pandas
# !pip install numpy
# !pip install matplotlib
!pip install seaborn
# !pip install warnings
!pip install catboost
!pip install lightgbm
!pip install xgboost

Requirement already satisfied: seaborn in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from seaborn) (2.0.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Requirement already satisfied: catboost in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (1.2)
Requirement already satisfied: graphviz in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from catboost) (0.20.1)
Requirement already satisfied: matplotlib in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from catboost) (1.24.3)
Requirement already satisfied: pandas>=0.24 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from catboost) (2.0.1)
Requirement already satisfied: scipy in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from catboost) (1.10.1)
Requirement already satisfied: plotly in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from catboost) (5.14.1)
Requirement already satisfied: six in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from pandas>=0.24->catboost) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from pandas>=0.24->catboost) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from matplotlib->catboost) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from matplotlib->catboost) (4.39.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from matplotlib->catboost) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from matplotlib->catboost) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: tenacity>=6.2.0 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from plotly->catboost) (8.2.2)
Collecting lightgbm
  Downloading lightgbm-3.3.5-py3-none-manylinux2014_aarch64.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 2.8 MB/s eta 0:00:0000:0100:010m
Collecting wheel (from lightgbm)
  Using cached wheel-0.40.0-py3-none-any.whl (64 kB)
Requirement already satisfied: numpy in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from lightgbm) (1.24.3)
Requirement already satisfied: scipy in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from lightgbm) (1.10.1)
Requirement already satisfied: scikit-learn!=0.22.0 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from lightgbm) (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from scikit-learn!=0.22.0->lightgbm) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from scikit-learn!=0.22.0->lightgbm) (3.1.0)
Installing collected packages: wheel, lightgbm
Successfully installed lightgbm-3.3.5 wheel-0.40.0
Collecting xgboost
  Downloading xgboost-1.7.5-py3-none-manylinux2014_aarch64.whl (2.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.7/2.7 MB 3.0 MB/s eta 0:00:0000:0100:010m
Requirement already satisfied: numpy in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in /home/carlosroberto/projetos/ia/.venv/lib/python3.10/site-packages (from xgboost) (1.10.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.5

In [10]:
# Importar bibliotecas (pandas etc)
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from catboost import CatBoostRegressor
from lightgbm import LGBMRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.exceptions import ConvergenceWarning
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV

warnings.simplefilter(action="ignore", category=FutureWarning)
warnings.simplefilter("ignore", category=ConvergenceWarning)

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)
pd.set_option("display.float_format", lambda x: "%.3f" % x)

## 1- Análise exploratória do dados

In [12]:
# Ler dados
# arq_dados = "./dados/properati-BR-2016-11-01-properties-sell.csv"
arq_dados = "./dados/properati_br_2016_11_01_properties_rent.csv"

dados = pd.read_csv(
    arq_dados,
)

# df.to_csv("./dados/precos_br_2016.csv", index=False)
# df_all
dados.head()

,created_on,operation,property_type,place_name,place_with_parent_names,geonames_id,lat_lon,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail,location
0,2013-04-25,rent,apartment,Praia Grande,|Brasil|São Paulo|Praia Grande|,NaN,NaN,NaN,NaN,900.000,BRL,898.290,280.840,NaN,NaN,NaN,NaN,NaN,1.000,NaN,http://praia-grande-sao-paulo.properati.com.br...,"Otimo Imovel com o melhor valor da regiao, con...",Apartamento Em Praia Grande,NaN,NaN
1,2013-04-25,rent,apartment,Alphaville,|Brasil|São Paulo|Barueri|Alphaville|,NaN,NaN,NaN,NaN,3200.000,BRL,3193.990,998.560,NaN,NaN,NaN,NaN,NaN,3.000,NaN,http://alphaville-barueri.properati.com.br/q8z...,"Otimo Imovel com o melhor valor da regiao, con...",Apartamento Em Barueri,https://thumbs-cf.properati.com/0/Wjq7toq-DpwK...,NaN
2,2013-04-25,rent,house,Centro,|Brasil|São Paulo|Jundiaí|Centro|,NaN,NaN,NaN,NaN,1800.000,BRL,1796.620,561.690,NaN,NaN,NaN,NaN,NaN,2.000,NaN,http://centro-jundiai.properati.com.br/qe2_alu...,"Otimo Imovel com o melhor valor da regiao, con...",Casa Em Jundiai,NaN,NaN
3,2013-04-25,rent,apartment,Alphaville,|Brasil|São Paulo|Barueri|Alphaville|,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://alphaville-barueri.properati.com.br/s9p...,"Otimo Imovel com o melhor valor da regiao, con...",Apartamento Em Barueri,https://thumbs-cf.properati.com/0/X7PtsZjj8Vqz...,NaN
4,2013-04-25,rent,apartment,Barueri,|Brasil|São Paulo|Barueri|,NaN,NaN,NaN,NaN,1800.000,BRL,1796.620,561.690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://barueri.properati.com.br/s9u_aluga-se_a...,"Otimo Imovel com o melhor valor da regiao, con...",Apartamento Em Barueri,https://thumbs-cf.properati.com/9/URn3U3gg-F6C...,NaN

In [13]:
dados.shape

(97353, 25)

In [14]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97353 entries, 0 to 97352
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   created_on                  97353 non-null  object
 1   operation                   97353 non-null  object
 2   property_type               97353 non-null  object
 3   place_name                  97353 non-null  object
 4   place_with_parent_names     97353 non-null  object
 5   geonames_id                 3 non-null      float64
 6   lat_lon                     46030 non-null  object
 7   lat                         46030 non-null  float64
 8   lon                         46030 non-null  float64
 9   price                       92334 non-null  float64
 10  currency                    92333 non-null  object
 11  price_aprox_local_currency  92334 non-null  float64
 12  price_aprox_usd             92334 non-null  float64
 13  surface_total_in_m2         15848 non-null  float64
 14  surface_covered_in_m2       75584 non-null  float64
 15  price_usd_per_m2            70415 non-null  float64
 16  price_per_m2                70415 non-null  float64
 17  floor                       5285 non-null   float64
 18  rooms                       58763 non-null  float64
 19  expenses                    31773 non-null  float64
 20  properati_url               97353 non-null  object
 21  description                 97353 non-null  object
 22  title                       97353 non-null  object
 23  image_thumbnail             92219 non-null  object
 24  location                    46030 non-null  object
dtypes: float64(13), object(12)
memory usage: 18.6+ MB

In [15]:
dados.columns

Index(['created_on', 'operation', 'property_type', 'place_name',
       'place_with_parent_names', 'geonames_id', 'lat_lon', 'lat', 'lon',
       'price', 'currency', 'price_aprox_local_currency', 'price_aprox_usd',
       'surface_total_in_m2', 'surface_covered_in_m2', 'price_usd_per_m2',
       'price_per_m2', 'floor', 'rooms', 'expenses', 'properati_url',
       'description', 'title', 'image_thumbnail', 'location'],
      dtype='object')

In [16]:
# apenas dados da imoveis em Brasília
# dados_df = dados.loc[dados['place_with_parent_names'] == {'Brasil','Distrito Federal','Brasília','' }]
dados_df = dados.loc[dados["place_name"] == "Brasília"]
dados_df.to_csv("./dados/dados_df.csv")

In [17]:
dados_df.shape

(63, 25)

In [106]:
dados_df.head()

,created_on,operation,property_type,place_name,place_with_parent_names,geonames_id,lat-lon,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
13400,2014-01-09,sell,apartment,Brasília,|Brasil|Distrito Federal|Brasília|,NaN,"-15.7942287,-47.8821658",-15.794,-47.882,388194.000,BRL,397438.460,124253.880,NaN,34.000,3654.526,11417.471,NaN,1.000,NaN,http://brasilia-distrito-federal.properati.com...,APARTAMENTO DE 1 QUARTO NOROESTE - ATRIUM PLAT...,ATRIUM PLATINE NOROESTE-APARTAMENTO DE 1 QUARTO,https://thumbs-cf.properati.com/2/C5v3t9lgl1Wn...
13401,2014-01-09,sell,apartment,Brasília,|Brasil|Distrito Federal|Brasília|,NaN,"-15.7942287,-47.8821658",-15.794,-47.882,736200.000,BRL,753731.920,235644.320,NaN,87.000,2708.555,8462.069,NaN,1.000,NaN,http://brasilia-distrito-federal.properati.com...,EMPREENDIMENTO: - Atrium D'Argent. Excelente ...,COBERTURA DUPLEX 1 QUARTO NOROESTE - Atrium D'...,https://thumbs-cf.properati.com/3/xGvaV9zPuh9Z...
13402,2014-01-09,sell,apartment,Brasília,|Brasil|Distrito Federal|Brasília|,NaN,"-15.7942287,-47.8821658",-15.794,-47.882,804492.000,BRL,823650.240,257503.360,NaN,96.000,2682.327,8380.125,NaN,3.000,NaN,http://brasilia-distrito-federal.properati.com...,Bossa Nova Noroeste. Conheça excelente Apartam...,BOSSA NOVA NOROESTE-APARTAMENTO 3 QUARTOS,https://thumbs-cf.properati.com/7/16jzon_13yOT...
13403,2014-01-09,sell,apartment,Brasília,|Brasil|Distrito Federal|Brasília|,NaN,"-15.8729537,-48.0163953",-15.873,-48.016,287229.000,BRL,294069.080,91936.810,NaN,62.000,1482.852,4632.726,NaN,2.000,NaN,http://brasilia-distrito-federal.properati.com...,VIVACE SHOW DE MORAR TAGUATINGA-APARTAMENTO 2 ...,Vivace Show de Morar Taguatinga-Apartamento 2 ...,https://thumbs-cf.properati.com/8/brmgqVzyE3Gj...
13404,2014-01-09,sell,apartment,Brasília,|Brasil|Distrito Federal|Brasília|,NaN,"-15.7941454,-47.8825479",-15.794,-47.883,1176000.000,BRL,1204005.360,376416.360,NaN,127.000,2963.908,9259.843,NaN,3.000,NaN,http://brasilia-distrito-federal.properati.com...,PIGOT RESIDENCIAL: Conheça este excelente Apar...,APARTAMENTO 3 QUARTOS NOROESTE - Pigot Residen...,https://thumbs-cf.properati.com/1/oFTj_4cqx1Na...

In [4]:
# Função para checar o dataset e ajustar pelos tipos
def check_df(dataframe, head=10):
    print(
        "############################################## SHAPE #############################################"
    )
    print(dataframe.shape)
    print(
        "############################################## Types #############################################"
    )
    print(dataframe.dtypes)
    print(
        "############################################# # Head #############################################"
    )
    print(dataframe.head(head))
    print(
        "############################################## Tail ##############################################"
    )
    print(dataframe.tail(head))
    print(
        "############################################# NA #################################################"
    )
    print(dataframe.isnull().sum())
    print(
        "########################################## Quantiles ############################################# "
    )
    print(dataframe.quantile([]).T)
    print(
        "##########################################  NUMBERUNIQE ########################################## "
    )
    print(dataframe.nunique())

In [102]:
check_df(dados_df)

############################################## SHAPE #############################################
(407, 24)
############################################## Types #############################################
created_on                     object
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object
############################################# # Head #############################################
       created_on operation property_type place_name
13400  2014-01-09      sell     apartment   Brasília  \
13401  2014-01-09      sell     apartment   Brasília
13402  2014-01-09      sell     apartment   Brasília
13403  2014-01-09      sell     apartment   Brasília
13404  2014-01-09      sell     apartment   Brasília
13405  2014-01-09      sell     apartment   Brasília
13406  2014-01-09      sell     apartment   Brasília
13407  2014-01-09      sell     apartment   Brasília
13408  2014-01-09      sell     apartment   Brasília
13409  2014-01-09      sell     apartment   Brasília

                  place_with_parent_names  geonames_id
13400  |Brasil|Distrito Federal|Brasília|          NaN  \
13401  |Brasil|Distrito Federal|Brasília|          NaN
13402  |Brasil|Distrito Federal|Brasília|          NaN
13403  |Brasil|Distrito Federal|Brasília|          NaN
13404  |Brasil|Distrito Federal|Brasília|          NaN
13405  |Brasil|Distrito Federal|Brasília|          NaN
13406  |Brasil|Distrito Federal|Brasília|          NaN
13407  |Brasil|Distrito Federal|Brasília|          NaN
13408  |Brasil|Distrito Federal|Brasília|          NaN
13409  |Brasil|Distrito Federal|Brasília|          NaN

                       lat-lon     lat     lon       price currency
13400  -15.7942287,-47.8821658 -15.794 -47.882  388194.000      BRL  \
13401  -15.7942287,-47.8821658 -15.794 -47.882  736200.000      BRL
13402  -15.7942287,-47.8821658 -15.794 -47.882  804492.000      BRL
13403  -15.8729537,-48.0163953 -15.873 -48.016  287229.000      BRL
13404  -15.7941454,-47.8825479 -15.794 -47.883 1176000.000      BRL
13405  -15.8372013,-48.0258046 -15.837 -48.026 1190000.000      BRL
13406  -15.7942287,-47.8821658 -15.794 -47.882  375390.000      BRL
13407  -15.7942287,-47.8821658 -15.794 -47.882  799920.000      BRL
13408  -15.7941454,-47.8825479 -15.794 -47.883  748710.000      BRL
13409  -15.7941454,-47.8825479 -15.794 -47.883  556931.000      BRL

       price_aprox_local_currency  price_aprox_usd  surface_total_in_m2
13400                  397438.460       124253.880                  NaN  \
13401                  753731.920       235644.320                  NaN
13402                  823650.240       257503.360                  NaN
13403                  294069.080        91936.810                  NaN
13404                 1204005.360       376416.360                  NaN
13405                 1218338.740       380897.500                  NaN
13406                  384329.540       120155.550                  NaN
13407                  818969.350       256039.940                  NaN
13408                  766539.850       239648.550                  NaN
13409                  570193.790       178263.550              126.000

       surface_covered_in_m2  price_usd_per_m2  price_per_m2  floor  rooms
13400                 34.000          3654.526     11417.471    NaN  1.000  \
13401                 87.000          2708.555      8462.069    NaN  1.000
13402                 96.000          2682.327      8380.125    NaN  3.000
13403                 62.000          1482.852      4632.726    NaN  2.000
13404                127.000          2963.908      9259.843    NaN  3.000
13405                245.000          1554.684      4857.143    NaN  4.000
13406                 32.000          3754.861     11730.938    NaN  1.000
13407                 87.000          2942.988      9194.483    NaN  1.000
13408                 86.000          2786.611      8705.930    NaN  2.000
13409                 67.000          2660.650      8312.403    NaN  2.000

       expenses                                      properati_url
13400       NaN  http://brasilia-distrito-federal.properati.com...  \
13401       NaN  http://brasilia-distrito-federal.properati.com...
13402       NaN  http://brasilia-distrito-federal.properati.com...
13403       NaN  http://brasilia-distrito-federal.properati.com...
13404       NaN  http://brasilia-distrito-federal.properati.com...
13405       NaN  http://brasilia-distrito-federal.properati.com...
13406       NaN  http://brasilia-distrito-federal.properati.com...
13407       NaN  http://brasilia-distrito-federal.properati.com...
13408       NaN  http://brasilia-distrito-federal.properati.com...
13409       NaN  http://brasilia-distrito-federal.properati.com...

                                             description
13400  APARTAMENTO DE 1 QUARTO NOROESTE - ATRIUM PLAT...  \
13401  EMPREENDIMENTO:  - Atrium D'Argent. Excelente ...
13402  Bossa Nova Noroeste. Conheça excelente Apartam...
13403  VIVACE SHOW DE MORAR TAGUATINGA-APARTAMENTO 2 ...
13404  PIGOT RESIDENCIAL: Conheça este excelente Apar...
13405  EMPREENDIMENTO: Première Private Life - Conheç...
13406  APARTAMENTO DE 1 QUARTO NOROESTE Atrium D'Arge...
13407  EMPREENDIMENTO:  - Atrium D'or Noroeste-Maravi...
13408  EMPREENDIMENTO:    - Montparnasse Residence. V...
13409  EMPREENDIMENTO:  - NEO Residências Modernas. Ó...

                                                   title
13400    ATRIUM PLATINE NOROESTE-APARTAMENTO DE 1 QUARTO  \
13401  COBERTURA DUPLEX 1 QUARTO NOROESTE - Atrium D'...
13402          BOSSA NOVA NOROESTE-APARTAMENTO 3 QUARTOS
13403  Vivace Show de Morar Taguatinga-Apartamento 2 ...
13404  APARTAMENTO 3 QUARTOS NOROESTE - Pigot Residen...
13405  Apartamento Duplex de 4 quartos  Águas Claras ...
13406   ATRIUM D'ARGENT NOROESTE-APARTAMENTO DE 1 QUARTO
13407  COBERTURA  DUPLEX  DE 1 QUARTO NOROESTE - Atri...
13408  APARTAMENTO 2 QUARTOS NOROESTE - Montparnasse ...
13409  APARTAMENTO DE 2 QUARTOS NOROESTE - NEO Residê...

                                         image_thumbnail
13400  https://thumbs-cf.properati.com/2/C5v3t9lgl1Wn...
13401  https://thumbs-cf.properati.com/3/xGvaV9zPuh9Z...
13402  https://thumbs-cf.properati.com/7/16jzon_13yOT...
13403  https://thumbs-cf.properati.com/8/brmgqVzyE3Gj...
13404  https://thumbs-cf.properati.com/1/oFTj_4cqx1Na...
13405  https://thumbs-cf.properati.com/8/S8u4WPGLbWKM...
13406  https://thumbs-cf.properati.com/1/kY8I8oT_TtyW...
13407  https://thumbs-cf.properati.com/4/uGE7M7ujHnMp...
13408  https://thumbs-cf.properati.com/9/C-ACEPay5OBi...
13409  https://thumbs-cf.properati.com/5/kkCJWHKQ9unS...
############################################## Tail ##############################################
        created_on operation property_type place_name
851993  2016-10-23      sell     apartment   Brasília  \
852258  2016-10-23      sell     apartment   Brasília
852402  2016-10-23      sell     apartment   Brasília
852483  2016-10-23      sell     apartment   Brasília
852734  2016-10-23      sell     apartment   Brasília
852771  2016-10-23      sell         house   Brasília
852902  2016-10-23      sell     apartment   Brasília
853066  2016-10-23      sell     apartment   Brasília
861776  2016-10-28      sell     apartment   Brasília
868563  2016-10-29      sell         house   Brasília

                   place_with_parent_names  geonames_id
851993  |Brasil|Distrito Federal|Brasília|          NaN  \
852258  |Brasil|Distrito Federal|Brasília|          NaN
852402  |Brasil|Distrito Federal|Brasília|          NaN
852483  |Brasil|Distrito Federal|Brasília|          NaN
852734  |Brasil|Distrito Federal|Brasília|          NaN
852771  |Brasil|Distrito Federal|Brasília|          NaN
852902  |Brasil|Distrito Federal|Brasília|          NaN
853066  |Brasil|Distrito Federal|Brasília|          NaN
861776  |Brasil|Distrito Federal|Brasília|          NaN
868563  |Brasil|Distrito Federal|Brasília|          NaN

                      lat-lon     lat     lon       price currency
851993  -15.740419,-47.910133 -15.740 -47.910 1420000.000      BRL  \
852258                    NaN     NaN     NaN 3180000.000      BRL
852402                    NaN     NaN     NaN  550000.000      BRL
852483                    NaN     NaN     NaN 3400000.000      BRL
852734  -15.744934,-47.909824 -15.745 -47.910 2570000.000      BRL
852771                    NaN     NaN     NaN  790000.000      BRL
852902   -15.742534,-47.91267 -15.743 -47.913 1699000.000      BRL
853066                    NaN     NaN     NaN  490000.000      BRL
861776                    NaN     NaN     NaN  660000.000      BRL
868563  -15.905274,-47.918751 -15.905 -47.919 1250000.000      BRL

        price_aprox_local_currency  price_aprox_usd  surface_total_in_m2
851993                 1417341.300       443113.020                0.000  \
852258                 3174046.040       992323.530              295.000
852402                  548970.210       171628.280               55.000
852483                 3393634.120      1060974.840                0.000
852734                 2565188.150       801972.160                0.000
852771                  788520.850       246520.620                0.000
852902                 1695818.930       530175.370                0.000
853066                  489082.540       152905.190                0.000
861776                  658764.270       205953.940                  NaN
868563                 1247659.600       390064.280                  NaN

        surface_covered_in_m2  price_usd_per_m2  price_per_m2  floor  rooms
851993                142.000          3120.514     10000.000    NaN    NaN  \
852258                  0.000               NaN           NaN    NaN    NaN
852402                  0.000               NaN           NaN    NaN    NaN
852483                980.000          1082.627      3469.388    NaN    NaN
852734                222.000          3612.487     11576.577    NaN    NaN
852771                 80.000          3081.508      9875.000    NaN    NaN
852902                155.000          3420.486     10961.290    NaN    NaN
853066                 60.000          2548.420      8166.667    NaN    NaN
861776                    NaN               NaN           NaN    NaN    NaN
868563                380.000          1026.485      3289.474    NaN    NaN

        expenses                                      properati_url
851993       NaN  http://brasilia-distrito-federal.properati.com...  \
852258       NaN  http://brasilia-distrito-federal.properati.com...
852402       NaN  http://brasilia-distrito-federal.properati.com...
852483       NaN  http://brasilia-distrito-federal.properati.com...
852734       NaN  http://brasilia-distrito-federal.properati.com...
852771       NaN  http://brasilia-distrito-federal.properati.com...
852902       NaN  http://brasilia-distrito-federal.properati.com...
853066       NaN  http://brasilia-distrito-federal.properati.com...
861776       NaN  http://brasilia-distrito-federal.properati.com...
868563       NaN  http://brasilia-distrito-federal.properati.com...

                                              description
851993  RE/MAX CBL VENDE: <br><br><br>Excelente aparta...  \
852258  RE/MAX CBL vende:<br><br><br>Belíssima cobertu...
852402  RE/MAX CBL VENDE:<br><br><br>Excelente apartam...
852483  RE/MAX CBL VENDE: <br><br><br>Belíssimo projet...
852734  RE/MAX CBL VENDE: <br><br><br>Excelente aparta...
852771  RE/MAX CBL VENDE: <br><br><br>Ótimo investimen...
852902  RE/MAX CBL VENDE: <br><br><br>Apartamento com ...
853066  RE/MAX CBL VENDE: <br><br><br>Lindo apartament...
861776  Ref.: 28A segurança de um condomínio fechado d...
868563  SMPW QD 25 - PARK WAY Excelente casa em lote d...

                                                    title
851993  Apartamento, Distrito Federal, Brasília, por R...  \
852258  Apartamento, Distrito Federal, Brasília, por R...
852402  Apartamento, Distrito Federal, Brasília, por R...
852483  Apartamento, Distrito Federal, Brasília, por R...
852734  Apartamento, Distrito Federal, Brasília, por R...
852771   Casa, Distrito Federal, Brasília, por R$ 790.000
852902  Apartamento, Distrito Federal, Brasília, por R...
853066  Apartamento, Distrito Federal, Brasília, por R...
861776  Villa Mateus - Apartamento 4 quartos Águas Cla...
868563      Casa residencial à venda, Park Way, Brasília.

                                          image_thumbnail
851993  https://thumbs-cf.properati.com/9/tTC5oY4aTpyA...
852258  https://thumbs-cf.properati.com/0/AlzZEgHWwJJk...
852402  https://thumbs-cf.properati.com/2/GZoMRyypGe4i...
852483  https://thumbs-cf.properati.com/0/R5Cy9o-Eq1Wk...
852734  https://thumbs-cf.properati.com/8/0pm8jW3Jqbzi...
852771  https://thumbs-cf.properati.com/3/wC_lvKANZqiF...
852902  https://thumbs-cf.properati.com/1/TRO4mHaTlSnl...
853066  https://thumbs-cf.properati.com/1/yI-wpyDh_ufc...
861776  https://thumbs-cf.properati.com/5/igLZLV7gHOgr...
868563  https://thumbs-cf.properati.com/8/m0J_2DK7B1i7...
############################################# NA #################################################
created_on                      0
operation                       0
property_type                   0
place_name                      0
place_with_parent_names         0
geonames_id                   407
lat-lon                        91
lat                            91
lon                            91
price                           6
currency                        8
price_aprox_local_currency      6
price_aprox_usd                 6
surface_total_in_m2           275
surface_covered_in_m2          65
price_usd_per_m2               81
price_per_m2                   81
floor                         392
rooms                         252
expenses                      394
properati_url                   0
description                     0
title                           0
image_thumbnail                 3
dtype: int64
########################################## Quantiles #############################################
Empty DataFrame
Columns: []
Index: [created_on, operation, property_type, place_name, place_with_parent_names, geonames_id, lat-lon, lat, lon, price, currency, price_aprox_local_currency, price_aprox_usd, surface_total_in_m2, surface_covered_in_m2, price_usd_per_m2, price_per_m2, floor, rooms, expenses, properati_url, description, title, image_thumbnail]
##########################################  NUMBERUNIQE ##########################################
created_on                    145
operation                       1
property_type                   3
place_name                      1
place_with_parent_names         2
geonames_id                     0
lat-lon                       182
lat                           181
lon                           182
price                         255
currency                        1
price_aprox_local_currency    314
price_aprox_usd               314
surface_total_in_m2            63
surface_covered_in_m2         158
price_usd_per_m2              311
price_per_m2                  284
floor                           7
rooms                           6
expenses                       10
properati_url                 407
description                   359
title                         339
image_thumbnail               374
dtype: int64

In [94]:
def grab_col_names(dataframe, cat_th=7, car_th=20):
    # cat_cols, cat_but_car
    cat_cols = [col for col in dataframe.columns if dataframe[col].dtypes == "O"]
    num_but_cat = [
        col
        for col in dataframe.columns
        if dataframe[col].nunique() < cat_th and dataframe[col].dtypes != "O"
    ]
    cat_but_car = [
        col
        for col in dataframe.columns
        if dataframe[col].nunique() > car_th and dataframe[col].dtypes == "O"
    ]
    cat_cols = cat_cols + num_but_cat
    cat_cols = [col for col in cat_cols if col not in cat_but_car]

    # num_cols
    num_cols = [col for col in dataframe.columns if dataframe[col].dtypes != "O"]
    num_cols = [col for col in num_cols if col not in num_but_cat]

    print(f"Observations: {dataframe.shape[0]}")
    print(f"Variables: {dataframe.shape[1]}")
    print(f"cat_cols: {len(cat_cols)}")
    print(f"num_cols: {len(num_cols)}")
    print(f"cat_but_car: {len(cat_but_car)}")
    print(f"num_but_cat: {len(num_but_cat)}")
    return cat_cols, num_cols, cat_but_car

In [53]:
cat_cols, num_cols, cat_but_car = grab_col_names(df)

Observations: 2
Variables: 135
cat_cols: 135
num_cols: 0
cat_but_car: 0
num_but_cat: 31

In [111]:
# a
dados_df.shape

(407, 24)

In [110]:
# Analisar dimensões do dataset
df = pd.DataFrame(dados_df, columns=dados.columns)
df.head()
df.to_csv("dados_df.txt")

In [ ]:
# mostrar as primeiras linhas do dataset

In [ ]:
# Criar gráficos estatísticos

## 2- Preparação dos dados

In [123]:
# importanto as libs
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# from sklearn.ensemble import RandomForestClassifier

In [124]:
feature_names = [i for i in df.columns if df[i].dtype in [np.int64]]

# atribuir os valores das variáveis independentes a 'X'
X = df[feature_names]

# atribuir os valores da variável dependente a 'y'
y = df["price"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.20, random_state=1
)

my_model = RandomForestClassifier(n_estimators=100, random_state=0).fit(
    X_train, y_train
)

ValueError: at least one array or dtype is required

In [116]:
# Dividir o dataset entre treino e teste (85/15)
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15, random_state = 0, stratify = y)
print("Dimensões de X_train = ", X_train.shape)
print("Dimensões de X_test = ", X_test.shape)

Dimensões de X_train =  (325, 0)
Dimensões de X_test =  (82, 0)

### 2.1- Codificação das variáveis independentes

#### 2.1.1- Pandas Get Dummies

In [ ]:
# df.head()

In [ ]:
# Codificando com get_dummies
# df_getdummies = pd.get_dummies(X_train)
# print('Dimensões do dataset com get_dummies: ', df_getdummies.shape)
# df_getdummies.head()

#### 2.1.2- One-hot encoder do Sklearn

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
# onehotenc = OneHotEncoder(handle_unknown='ignore', sparse=False)

In [ ]:
# onehotenc.fit(X_train)

In [ ]:
# onehotenc.categories_

In [ ]:
# df_onehotenc = pd.DataFrame(onehotenc.fit_transform(X_train),columns=onehotenc.get_feature_names_out())
# print('Dimensões do dataset com sklearn onehotenc: ', df_onehotenc.shape)
# df_onehotenc.head()

#### 2.1.3- Ordinal Encoder

In [ ]:
# Codificando com OrdinalEncoder
# from sklearn.preprocessing import OrdinalEncoder
# ordenc = OrdinalEncoder()

In [ ]:
# df_ordenc = pd.DataFrame(ordenc.fit_transform(X_train))
# df_ordenc.head()

In [ ]:
df_ordenc.columns = ["buying", "maint", "doors", "persons", "lug_boot", "safety"]
print("Dimensões do dataset com OrdinalEncoder: ", df_ordenc.shape)
df_ordenc.head()

Dimensões do dataset com OrdinalEncoder:  (1468, 6)

   buying  maint  doors  persons  lug_boot  safety
0     0.0    1.0    2.0      0.0       0.0     0.0
1     2.0    0.0    1.0      0.0       1.0     0.0
2     2.0    0.0    0.0      0.0       0.0     0.0
3     0.0    1.0    3.0      0.0       0.0     2.0
4     1.0    1.0    2.0      2.0       0.0     0.0

In [ ]:
ordenc.categories_

[array(['high', 'low', 'med', 'vhigh'], dtype=object),
 array(['high', 'low', 'med', 'vhigh'], dtype=object),
 array(['2', '3', '4', '5more'], dtype=object),
 array(['2', '4', 'more'], dtype=object),
 array(['big', 'med', 'small'], dtype=object),
 array(['high', 'low', 'med'], dtype=object)]

Conclusões sobre o Ordinal Encoder :

- O ordinal encoder utilizou a ordem lexicográfica para codificação dos valores das variáveis, resultando numa péssima conversão. Isto irá prejudicar o desempenho do modelo.  
  Por exemplo:  
  "safety" : high=0, low=1 e med=2.  
  o correto seria: low=0, med=1 e high=2.
- Sempre confira o resultado, principalmente, do Ordinal encoder!

#### 2.1.4- Manual Enconding

In [ ]:
# Mostra os valores únicos de cada variável para (fazer loop)
for col in df:
    print(col, ":", df[col].unique())

buying : ['vhigh' 'high' 'med' 'low']
maint : ['vhigh' 'high' 'med' 'low']
doors : ['2' '3' '4' '5more']
persons : ['2' '4' 'more']
lug_boot : ['small' 'med' 'big']
safety : ['low' 'med' 'high']
car : ['unacc' 'acc' 'vgood' 'good']

In [ ]:
# A ordem das categorias não foi respeitada no Ordinal encoder acima.
# Façamos um encoding manual, respeitando essas ordens relativas.
# Criar dicionário para codificar os dados das colunas com o comando replace
encoding = {
    "low": 0,
    "small": 0,
    "med": 1,
    "high": 2,
    "big": 2,
    "2": 0,
    "3": 1,
    "4": 2,
    "more": 3,
    "5more": 3,
    "vhigh": 3,
}

In [ ]:
dic_persons = {"2": 0, "4": 1, "more": 2}
df_manualenc = pd.DataFrame(X.persons.replace(dic_persons))

In [ ]:
# Mostre as primeiras linhas de X para poder visualizar a diferença quando executar o comando na célula abaixo
X.head()

  buying  maint doors persons lug_boot safety
0  vhigh  vhigh     2       2    small    low
1  vhigh  vhigh     2       2    small    med
2  vhigh  vhigh     2       2    small   high
3  vhigh  vhigh     2       2      med    low
4  vhigh  vhigh     2       2      med    med

In [ ]:
# Criar um novo dataframe com a codificação do Manual encoding (usando replace) e mostrar as primeiras linhas e dimensões
df_manualenc = pd.DataFrame(X.replace(encoding))
df_manualenc.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      0        0         0       0
1       3      3      0        0         0       1
2       3      3      0        0         0       2
3       3      3      0        0         1       0
4       3      3      0        0         1       1

In [ ]:
# Dividir o dataset entre treino e teste

## 3 - Escolha do Modelo

## 4 - Treinar o modelo

In [ ]:
# Entre código aqui...

# instanciar modelo


# treinar modelo com dados de treino

## 5- Testar o(s) modelo(s)

In [ ]:
# fazer predição da espécie para uma nova flor com as dimensões: [5.1, 3.5, 1.4, 0.2]

In [ ]:
# mostrar resultado da predição

## 6- Avaliar o modelo

In [ ]:
# mostrar score

In [ ]:
# mostrar matrix de confusão ou Curva ROC

## Conclusão

No nosso experimento, treinamos modelos de regressão logística sobre os dados de aceitabilidade de carros com diferentes codificações, gerando os seguintes resultados:

- pandas get_dummies: 90,3% (f1-score)
- one-hot encoding: 91,7% (f1-score)
- ordinal encoding (sem seguir a ordem das categorias): 61,5% (f1-score)
- manual encoding (substituição), seguindo a ordem relativa das categorias: 80,0% (f1-score)